In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Hotels_data_best_discount.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Snapshot ID,Snapshot Date,Checkin Date,Days,Original Price,Discount Price,Discount Code,Available Rooms,Hotel Name,Hotel Stars,DayDiff,WeekDay,DiscountDiff,DiscountPerc
0,349,349,1,2015-07-17,2015-07-18,5,1395,1245,2,-1,Home2 Suites by Hilton NY Long Island City Man...,3,1,Saturday,150,10.752688
1,365,365,1,2015-07-17,2015-07-18,5,548,515,2,-1,Howard Johnson Inn Queens,2,1,Saturday,33,6.021898
2,329,329,1,2015-07-17,2015-07-18,5,1365,1185,2,-1,Newark Liberty International Airport Marriott,4,1,Saturday,180,13.186813
3,262,262,1,2015-07-17,2015-07-18,5,3700,3600,2,6,Park Hyatt New York,5,1,Saturday,100,2.702703
4,94,94,1,2015-07-17,2015-07-18,5,780,630,1,2,Ramada Staten Island,3,1,Saturday,150,19.230769

In [4]:
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df["Snapshot Date"] = lb_make.fit_transform(df["Snapshot Date"])
df["Checkin Date"] = lb_make.fit_transform(df["Checkin Date"])
df["Hotel Name"] = lb_make.fit_transform(df["Hotel Name"])
df["WeekDay"] = lb_make.fit_transform(df["WeekDay"])
df=df[['Snapshot Date','Checkin Date','DayDiff','Hotel Name','WeekDay','Discount Code']].dropna(axis=0, how='any')

In [5]:
df.head()

   Snapshot Date  Checkin Date  DayDiff  Hotel Name  WeekDay  Discount Code
0              0             0        1         223        2              2
1              0             0        1         264        2              2
2              0             0        1         327        2              2
3              0             0        1         341        2              2
4              0             0        1         361        2              1

In [6]:
from sklearn.model_selection import train_test_split

In [10]:
# Split dataset in training and test datasets
used_features =['Snapshot Date','Checkin Date','DayDiff','Hotel Name','WeekDay']
features = df[used_features]
classes = df['Discount Code']
X_train, X_test, Y_train, Y_test = train_test_split(features,classes, test_size=0.4)

In [11]:
from sklearn.naive_bayes import GaussianNB

In [12]:
# Instantiate the classifier
gnb = GaussianNB()
# Train classifier
gnb.fit(
    X_train,
    Y_train
)

GaussianNB(priors=None)

In [13]:
expected = Y_test
predicted = gnb.predict(X_test)

In [15]:
from sklearn import metrics
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

             precision    recall  f1-score   support

          1       0.30      0.10      0.16     11105
          2       0.31      0.71      0.44     13602
          3       0.31      0.23      0.26     11459
          4       0.00      0.00      0.00      6754

avg / total       0.26      0.31      0.25     42920

[[1162 8278 1665    0]
 [1234 9688 2680    0]
 [ 838 8041 2580    0]
 [ 603 4871 1280    0]]

C:\Users\yahalom\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [22]:
gnb.predict([[0,0,1,223,2]])[0]

1

In [23]:
from sklearn import tree
dt_classifier = tree.DecisionTreeClassifier()
dt_classifier = dt_classifier.fit(X_train, Y_train)

In [26]:
expected = Y_test
predicted = dt_classifier.predict(X_test)

In [27]:
print(metrics.classification_report(expected, predicted))
print(metrics.confusion_matrix(expected, predicted))

             precision    recall  f1-score   support

          1       0.78      0.77      0.77     11105
          2       0.78      0.78      0.78     13602
          3       0.76      0.78      0.77     11459
          4       0.75      0.74      0.74      6754

avg / total       0.77      0.77      0.77     42920

[[ 8578  1214   810   503]
 [ 1209 10587  1293   513]
 [  760  1158  8888   653]
 [  516   571   688  4979]]